<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  
  <script>
  $(document).ready(function(){
    $("#btn").click(function(){
      $.get("http://localhost:3000/send", (data) => {
        $("ol").empty();
        for(i = 0; i < data.length; i++){
          $("ol").append(`<li> ${data[i].full_text} </li>`);
        }
      })
    })
  });
  </script>


</head>
<body>

<h1>RBC Twitter Issue Track</h1>


​<div class="container1">
  
    <img src="./img/logo.png" alt="RBC Logo" align="middle">
    
<div class="card-body">
  <h4 class="card-title">Flagged Posts</h4>
</div>
<div class="comment-widgets scrollable">
  <!-- Comment Row -->
  <div class="d-flex flex-row comment-row m-t-0">
      <div class="comment-text w-100">
          <button id="btn">Populate</button>
         
      </div>
      
  </div>
  <ol>

  </ol>
  </div>
</div>

​
</body>
</html>
