<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <script>
  $(document).ready(function(){
    $("#btn").click(function(){
      $.get("http://localhost:3000/appSend", (data) => {
        $("#app").empty();
        for(i = 0; i < data.length; i++){
          $("#app").append(`<li> ${data[i].full_text} <a href="https://twitter.com/a/status/${data[i].id_str}" target="_blank">link</a> </li>`);
        }
      })
    })
  });
  </script>
  <script>
  $(document).ready(function(){
    $("#btn2").click(function(){
      $.get("http://localhost:3000/siteSend", (data) => {
        $("#site").empty();
        for(i = 0; i < data.length; i++){
          $("#site").append(`<li> ${data[i].full_text} <a href="https://twitter.com/a/status/${data[i].id_str}" target="_blank">link</a> </li>`);
        }
      })
    })
  });
  </script>
  <script>
  $(document).ready(function(){
    $("#btn3").click(function(){
      $.get("http://localhost:3000/negSend", (data) => {
        $("#neg").empty();
        for(i = 0; i < data.length; i++){
          $("#neg").append(`<li> ${data[i].full_text} <a href="https://twitter.com/a/status/${data[i].id_str}" target="_blank">link</a> </li>`);
        }
      })
    })
  });
  </script>


</head>
<body>

<h1>RBC Twitter Issue Tracker</h1>


​<div class="container1">

    <img src="./img/logo.png" alt="RBC Logo" align="middle">

<div class="card-body">
  <h4 class="card-title">Flagged Posts</h4>
</div>
<div class="comment-widgets scrullable">
  <!-- Comment Row -->

  <button class="blue" id="btn">App Tweets!</button>
  <button class="blue" id="btn2">Site Tweets!</button>
  <button class="blue" id="btn3">NPL Negative Tweets!</button>



  <div class="grid-container">
    <div class="grid-item">
      <ul id="app"></ul>
    </div>
    <div class="grid-item">
      <ul id="site"></ul>
    </div>
    <div class="grid-item">
      <ul id="neg"></ul>
    </div>
  </div>

  </div>
</div>

​
</body>
</html>
